.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/nago.owl
src/ontology/nago.obo
src/ontology/nago.json
src/ontology/nago-base.*
src/ontology/nago-basic.*
src/ontology/nago-full.*
src/ontology/nago-simple.*
src/ontology/nago-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl